In [428]:
from manipulate_data_class import Data
import pandas as pd

FILEPATH = "original_cards_dict.json"

read_cards = Data(attribute="r", filepath=FILEPATH)
card_text = read_cards.read_json()
df = pd.DataFrame(card_text)
df

,text,pack,pick,color
0,_ + _ = Hipsters,CAH Base Set,2.0,black
1,_ is a sure sign of mankind's decline.,CAH Base Set,1.0,black
2,_ would only happen in my worst nightmares.,CAH Base Set,1.0,black
3,_: good to the last drop.,CAH Base Set,1.0,black
4,"_: kid tested, mother approved.",CAH Base Set,1.0,black
...,...,...,...,...
5697,Smash Mouth.,World Wide Web Pack,NaN,white
5698,Taking a shit while running at full speed.,World Wide Web Pack,NaN,white
5699,That thing on the Internet everyone's talking ...,World Wide Web Pack,NaN,white
5700,Three years of semen in a shoebox.,World Wide Web Pack,NaN,white
5701,Youtube comments.,World Wide Web Pack,NaN,white

In [429]:
import random

packs = df.pack.unique()
card_pack = packs[random.randint(0, len(packs))]
card_pack

'TableTop Pack'

In [430]:
rand_pack_black = df.loc[(df["pack"] == card_pack) & (df["color"] == "black")]
rand_pack_black

,text,pack,pick,color
5512,"Backers who supported Tabletop at the $25,000 ...",TableTop Pack,1.0,black
5513,"For my turn, I will spend four gold and alloca...",TableTop Pack,1.0,black
5514,"Hey, you guys want to try this awesome new gam...",TableTop Pack,1.0,black

In [431]:
rand_pack_white = df.loc[(df["pack"] == card_pack) & (df["color"] == "white")]
rand_pack_white

,text,pack,pick,color
5515,A disappointing season of Tabletop that's just...,TableTop Pack,NaN,white
5516,A German-style board game where you invade Pol...,TableTop Pack,NaN,white
5517,A marriage-destroying game of The Resistance.,TableTop Pack,NaN,white
5518,A Wesley Crusher blow-up doll.,TableTop Pack,NaN,white
5519,A zombie with a tragic backstory.,TableTop Pack,NaN,white
5520,An owlbear.,TableTop Pack,NaN,white
5521,Condensing centuries of economic exploitation ...,TableTop Pack,NaN,white
5522,SIX GOD DAMN HOURS OF FUCKING DIPLOMACY.,TableTop Pack,NaN,white
5523,Spending 8 years in the Himalayas becoming a m...,TableTop Pack,NaN,white
5524,The pooping position.,TableTop Pack,NaN,white
5525,The porn set that Tabletop is filmed on.,TableTop Pack,NaN,white
5526,Victory points.,TableTop Pack,NaN,white

In [432]:
black_card = rand_pack_black.sample()
black_card

,text,pack,pick,color
5512,"Backers who supported Tabletop at the $25,000 ...",TableTop Pack,1.0,black

In [433]:
str(black_card["text"].squeeze())

'Backers who supported Tabletop at the $25,000 level were astonished to receive _ from Wil Wheaton himself.'

In [434]:
white_card = rand_pack_white.sample()
white_card

                                          text           pack  pick  color
5525  The porn set that Tabletop is filmed on.  TableTop Pack   NaN  white